[Unit]
Description=Daily NORMORDIS formats backup

[Timer]
OnCalendar=*-*-* 02:40:00
RandomizedDelaySec=10m
AccuracySec=1m
Persistent=true
Unit=normordis-formats-backup.service

[Install]
WantedBy=timers.target
